* {
    margin: 10px;
}

h1 {
    color: lightsalmon;
    text-decoration: overline;
    text-align: center;
    border: double dodgerblue;
    padding: 10px;
}

.main .title {
    outline: medium solid;
}

.alt .title {
    outline: medium dotted;
}

.alt .title:hover {
    background-color: lightcyan;
}

.subtitle {
    text-shadow: 1px 1px palegoldenrod;
    text-align: center;
    font-size: large;
    margin: auto;
    width: 50%;
    letter-spacing: 5px;
}

.red {
    color: red;
}