/* -- variables -- */
:root {
    /* colors */
    --dimblue: rgb(0, 70, 100);
    --dimblue-rgb: 0, 70, 100;
    --salmon-rgb: 255, 160, 122;

    /* measurements */
    --nav-width: max(10vw, 100px);
    --split-dropdown-arrow-width: 29.59px;
    --animation-time: 5s;
}


/* -- HTML built-in elements -- */
* {
    color: lemonchiffon;
}

body {
    background-color: var(--dimblue);
}

p {
    margin: 2% 10%;
    font-size: max(20px, 2vw);
}

a {
    color: salmon;
}

a:hover {
    color: darksalmon;
}


/* -- general classes -- */
.subtitle {
    margin: 1% 5%;
    font-size: max(20px, 2vw);
}

.highlighted {
    background-color: salmon;
    padding: 0.5em;
}


/* ---- navbar ---- */
/* navbar placeholder */
#navbar {
    min-height: 70px;
}



.navbar-nav {
    flex-flow: row nowrap;
    /* display: inline-flex moves icons to same row as buttons */
}


/* menu icon that shows up if window is too small */
.navbar-toggler-icon {
    color: salmon;
}

/* website name */
.navbar-brand {
    position: relative;
    padding: 5px 30px;
    margin-right: 2vw;

    background-color: salmon;
    color: lemonchiffon !important;
    font-family: "Roboto";
}

.navbar-brand:hover {
    color: inherit;
}

/* navbar button group */
.navbar-split-dropdown {
    margin-right: 1vw;
    
    /* restrict width in navbar dropdown menu mode */
    max-width: calc(var(--nav-width) + var(--split-dropdown-arrow-width));
}

/* navbar link text and navbar button */
.nav-link.btn { /* if element is both */
    width: var(--nav-width);
}

.nav-link {
    font-family: "Roboto";
    position: relative !important;
}

.btn {
    color: lemonchiffon !important;
    background-color: rgba(var(--salmon-rgb),0.15);
    
    font-family: "Roboto";
    margin: 0 !important;
}

.btn:hover {
    background-color: rgba(var(--salmon-rgb),0.3);
}

/* navbar link text and navbar button for small screens */
@media (max-width: 576px) {
    .btn {
        margin-top: 10px !important;
    }
}

/* set width for about button */
#nav-about { width: var(--nav-width); }

/* navbar dropdown menu */
.dropdown-menu {
    background-color: lemonchiffon;
    position: absolute !important; /* force menu to display below */
}

.dropdown-item { color: var(--dimblue); }

.in-progress { font-weight: bold; }

/* navbar icons */
.navbar-nav-svg {
    height: 1.5em;
}


/* -- main page -- */
.main-title {
    margin: 0 5%;

    font-size: 80px;
    font-size: max(40px, 6vw);
}

.animated-title {
    position: relative;
    animation-name: x-jostle;
    animation-duration: var(--animation-time);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}

[id^="main-title-"] {margin: 0 10%;}
#main-title-2 { margin-left: 20%; margin-bottom: 0.1em; }
#main-title-3 { text-align: right; margin-right: 20%; }
#main-title-4 { text-align: right; }

.center-name {
    background-color: salmon;
    padding: 20px;
    text-align: center;

    font-size: 60px;
    font-size: max(35px, 4.5vw);
}

@keyframes x-jostle {
    0%   {left: 0}
    50%  {left: min(40px, 6vw)}
    100% {left: 0}
}


/* -- projects page -- */
.project-list {
    margin-left: 5%;
    font-size: 20px;
}

.disabled-link {
    color: rgba(var(--salmon-rgb),0.3);
}