<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="/">homebase</a>

    <ul class="navbar-nav">
        <div class="btn-group">
            <a class="nav-link btn" href="/projects">PROJECTS</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span> <!-- for accessibility -->
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="melody.html">melody | familiar song finder</a>
                <a class="dropdown-item" href="jupiter.html">jupiter | resume builder</a>
                
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="hummus.html">hummus | USC dining hall helper</a>
                <a class="dropdown-item" href="recall.html">recall | browser history</a>
            </div>
        </div>

        <a class="nav-link btn" href="/about.html">ABOUT</a>
    </ul>
</nav>